.cart-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: black;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #393946;
        padding: 2rem;
        border-radius: 1rem;
        width: 50%;
    }

    .btn{
        text-decoration: none;
        background-color: #2a2a38;
        color: black;
        border: none;
        padding: 0.5rem 1rem;
        border: solid 3px #1f1f28;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
        margin-top: 1rem;
        width: 7.8rem;

        &:hover{
            background-color: #583c7c;
        }
    }
}