.cart-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: white;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2baa32;
        padding: 2rem;
        border-radius: 1rem;
        width: 50%;
    }

    .btn{
        text-decoration: none;
        background-color: #15a31f;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border: solid 3px #0a7010;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
        margin-top: 1rem;
        width: 7.8rem;

        &:hover{
            background-color: rgb(55, 215, 68);
        }
    }
}