.custom-orders-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: white;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2baa32;
        padding: 2rem;
        border-radius: 1rem;
        width: 50%;

        .form-group{
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            width: 100%;
    
            label{
                margin-bottom: 0.5rem;
                font-size: .9rem;
            }
    
            input, textarea{
                padding: 0.5rem;
                border-radius: 0.5rem;
                border: solid 2px #0a7010;
                font-size: .8rem;
    
                &:focus{
                    outline: none;
                    border-color: #15a31f;
                }
            }
        }
    }

    orders-list{
        margin-top: 2rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .order-card{
            justify-content: space-between;
            align-items: center;
            
            p{
                margin: 0;
                font-size: .8rem;
            }
        }

    }
    


    .btn{
        text-decoration: none;
        background-color: #15a31f;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border: solid 3px #0a7010;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: .7rem;
        margin-top: 1rem;
        width: 10rem;

        &:hover{
            background-color: rgb(55, 215, 68);
        }
    }
}