.custom-orders-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: white;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2a2a38;
        padding: 2rem;
        border-radius: 1rem;
        width: 50%;

        .form-group{
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            width: 100%;
    
            label{
                margin-bottom: 0.5rem;
                font-size: .9rem;
            }
    
            input, textarea{
                padding: 0.5rem;
                border-radius: 0.5rem;
                border: solid 2px #1f1f28;
                font-size: .8rem;
    
                &:focus{
                    outline: none;
                    border-color: #1f1f28;
                }
            }
        }
    }

    .orders-list{
        margin: 1rem;
        background-color: #393946;
        border: #2a2a38;
        border-radius: .5rem;
        margin-top: 2rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .order-card{
            justify-content: space-between;
            align-items: center;
            
            p{
                margin: 0;
                font-size: .8rem;
            }

            .btn{
                background-color: #2a2a38;
                color: white;
                border: none;
                padding: 0.5rem 1rem;
                border: solid 3px #1f1f28;
                border-radius: 0.5rem;
                cursor: pointer;
                font-size: .7rem;
                margin-top: 1rem;
                width: 6rem;

                &:hover{
                    background-color: #583c7c;
                }
            }
        }

    }
    


    .btn{
        text-decoration: none;
        background-color: #2a2a38;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border: solid 3px #1f1f28;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: .7rem;
        margin-top: 1rem;
        width: 10rem;

        &:hover{
            background-color: #583c7c;
        }
    }
}