footer{
    display: flex;
    justify-content: center;
    background-color: #2baa32;
    height: 4rem;
    margin-top: 2rem;
    gap: 1rem;
    padding: 0.5rem;

    .footer-text{
        font-size: .7rem;
        color: white;
        align-self: center;
    }

    div{
        display: flex;
        align-items: center;
    }
}