.auth-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        border-radius: 8px;
        color: #865bbd
;

    .auth-card{
        padding: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 3rem;

        input{
            border: 1px solid #1f1f28;
            border-radius: 4px;
            width: 50%;
            margin-left: .6rem;
            background: none;
            color: #ae77f8;
        }
    }
    h1{
        color: #ae77f8;
    }

        .link{
                color: #ae77f8;
                text-decoration: none;
                margin-top: 10px;
                font-size: 0.9rem;

                &:hover{
                    text-decoration: underline;
                }   
            }

        .auth-form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 300px;

            .form-group{
                padding: 10px;
                border-radius: 4px;
            }

            .btn{
                justify-content: center;
                display: flex;
                padding: 10px;
                background-color: #2a2a38;
                color: white;
                font-size: .8rem;
                border: none;
                border-radius: 4px;
                cursor: pointer;

                &:hover{
                    background-color: #1f1f28;
                }
            }
        }
    }
