.auth-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #f0f0f0;
     
    h1{
        margin-bottom: 20px;
        color: #333;
    }

    auth-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        form{
            display: flex;
            flex-direction: column;
            width: 300px;

            .form-group{
                margin-bottom: 15px;
                padding: 10px;
                border: 1px solid blue;
                border-radius: 4px;
            }

            .btn{
                padding: 10px;
                background-color: #007B66;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;

                &:hover{
                    background-color: #0056b3;
                }
            }
        }
    }


}