nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 100vw;
  height: 60px;
  background-color: #1f1f28;

  color: #ae77f8;

  .personal-menu{
    display: flex;
  }


  .link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: .8rem;
    padding: 12px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #393946;
    &:hover{
        background-color: #ae77f8;
    }
  }
  
  a{
    text-decoration: none;
    color: #865bbd;
    font-weight: bold;
    font-size: .8rem;
    padding: 12px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #2a2a38;

    .active :hover{
      background-color: #55bb5b;
      color: beige;
    }
  }
}