nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: #2baa32;
  
  a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: .4rem;
    padding: 2px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #165519;

    .active :hover{
      background-color: #0d330f;
      color: beige;
    }
  }
}