.profile-section{
    border: 4px solid black;
    padding: .5rem;
    margin: 2rem;
}

.profile-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-tabs{
    display: flex;
    button{
        margin: 1rem;
    }
}