// Rewritten by Monte after maanvik 'wrote' (read: ai generated) the file.
.home{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  height: fit-content;
  .section{
    background-color: #41ff4b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 70vw;
    margin: 2rem;
    padding: 1rem;

  }
  .banner{
    img{
      margin: 2rem;
      border-radius: 3rem
    }
  }

  .carousel-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .page-links{
    display: flex;
    flex-direction: row;
    background-color: #41ff4b;
    .links{
      display: flex;
      flex-direction: column;
      .link{
        background-color: #2baa32;
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 40pt;
        text-decoration: none;
        color: whitesmoke;
      }
    }
  }
}