.home{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  height: fit-content;

  .section{
    width: 70vw;
  }

  img{
    border-radius: .5rem;
    height: 400px;
    width: 100%;
  }

  .banner{

    img{
      border-radius: 2rem
    }
  }

  .carousel-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .page-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    background-color: #2a2a38;

    .links{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;

      .link{
        background-color: #2a2a38;
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 40pt;
        text-decoration: none;
        color: #ae77f8;
      }
    }
  }
}