@import './Home.scss';
@import './components/Navbar.scss';
@import './components/Footer.scss';
@import './components/CustomOrders.scss';

body{
  padding: 0;
  margin: 0;
}
main{
  height: fit-content;
}