.product-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img{
    border-radius: .5rem;
}

.product-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inventory-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}